// COLORS

$color-black: #141414;
$color-pure-white: #fff;
$color-white: #f9f9f9;
$color-off-white: #d7d7d7;

$color-light-green: #d5f6ed;
$color-light-pink: #fbe2f3;
$color-light-orange: #ffe1cb;
$color-light-purple: #e2dbf9;
$color-light-grey: #eceff5;
$color-light-blue: #e0f3ff;
$color-blue: #88d0ff;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
// $bp-largest: 80em;
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: "inter";
  font-weight: 600;
  line-height: 1.6;
}

.container {
  display: grid;
  // grid-template-columns: 2rem repeat(10, minmax(max-content, 1fr)) 2rem;
  grid-template-columns: max-content minmax(max-content, 4fr);
  // grid-template-columns: 20% 80%;
}
