*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "inter";
  font-weight: 600;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: 1fr 4fr; }

.sidebar {
  overflow: scroll;
  background-color: #f9f9f9;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: repeat(auto, max-content);
  grid-template-columns: max-content;
  justify-content: center;
  align-content: flex-start;
  row-gap: 2.5rem;
  padding: 1rem; }
  .sidebar__offer {
    width: 22rem;
    height: 27rem;
    border-radius: 2rem;
    background-color: #141414;
    display: grid;
    padding: 2rem;
    justify-self: center;
    justify-content: center; }
    .sidebar__offer__text {
      text-align: left;
      align-self: flex-end;
      color: #fff;
      font-size: 2.4rem;
      font-weight: 700; }
    .sidebar__offer__button {
      align-self: center;
      justify-self: center;
      background-color: #88d0ff;
      font-size: 1.3rem;
      font-weight: 600;
      border: 0.2rem solid #141414;
      transition: all 0.2s ease; }
      .sidebar__offer__button:hover {
        background-color: #141414;
        color: #88d0ff;
        border: 0.2rem solid #88d0ff; }
  .sidebar__filters {
    display: grid;
    justify-content: stretch;
    align-content: flex-start;
    row-gap: 1.5rem;
    border-right: 0.1rem solid rgba(20, 20, 20, 0.2); }
    .sidebar__filters__title {
      display: grid;
      grid-template-columns: repeat(2, minmax(max-content, auto));
      align-items: center; }
      .sidebar__filters__title-text {
        font-size: 1.8rem;
        justify-self: left; }
      .sidebar__filters__title-icon {
        width: 2rem;
        height: 2rem;
        justify-self: right;
        align-self: center;
        margin-right: 1rem; }
    .sidebar__filters__group__tags {
      display: grid;
      row-gap: 0.8rem; }
      .sidebar__filters__group__tags-title {
        color: rgba(20, 20, 20, 0.6);
        font-size: 1.2rem;
        margin-bottom: 1rem; }
      .sidebar__filters__group__tags-button {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 0.8rem; }
        .sidebar__filters__group__tags-button-check {
          justify-self: center;
          align-self: center;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 0.5rem;
          border: 0.1rem solid rgba(20, 20, 20, 0.1);
          background-color: #fff; }
        .sidebar__filters__group__tags-button-text {
          font-size: 1.1rem;
          justify-self: center;
          align-self: center; }

.recommended-jobs {
  overflow: scroll;
  background-color: #f9f9f9;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
  padding: 2rem 4rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  justify-items: center; }
  .recommended-jobs__nav {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) 1fr;
    justify-self: stretch; }
    .recommended-jobs__nav__title {
      justify-self: left;
      font-size: 2.8rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 2rem; }
    .recommended-jobs__nav__counter {
      font-size: 1.6rem;
      font-weight: 600;
      color: rgba(20, 20, 20, 0.8);
      border: 0.1rem solid rgba(20, 20, 20, 0.25);
      border-radius: 2rem;
      padding: 0.2rem 0.8rem;
      text-align: center; }
    .recommended-jobs__nav__sort {
      justify-self: right;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      font-size: 1.2rem;
      color: rgba(20, 20, 20, 0.7); }
      .recommended-jobs__nav__sort-type {
        color: #141414; }
      .recommended-jobs__nav__sort-img {
        color: #eceff5; }

.navigation-bar {
  background-color: #141414;
  color: #fff;
  grid-column: 1 / -1; }
  .navigation-bar__location {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    justify-self: flex-end; }
  .navigation-bar__upper {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 5rem;
    grid-template-columns: minmax(1rem, 2rem) minmax(max-content, 0.25fr) repeat(2, minmax(max-content, 1fr)) max-content minmax(1rem, 2rem);
    margin: 1rem 0; }
    .navigation-bar__upper_button {
      background-color: #141414;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 400;
      border: none;
      margin: 0 0.2rem;
      border-bottom: 0.1rem solid #141414;
      cursor: pointer;
      transition: all 0.2s ease; }
      .navigation-bar__upper_button:hover {
        border-bottom: 0.1rem solid #fff; }
    .navigation-bar__upper-buttons {
      display: flex;
      gap: 2rem;
      justify-self: flex-start; }
  .navigation-bar__icon {
    border: 0.1rem solid #fff;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .navigation-bar__icon-user {
      width: 4rem;
      height: 4rem;
      background-image: url(imgs/user-profile-icon.jpg);
      background-size: cover;
      cursor: pointer; }
    .navigation-bar__icon-circle {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: #88d0ff;
      border: 0.2rem solid #141414;
      position: relative;
      top: 0%;
      left: 77%; }
  .navigation-bar__icons {
    display: flex;
    gap: 1rem;
    align-items: center; }
  .navigation-bar__lower {
    margin: 2rem 14rem 2rem 14rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    column-gap: 1rem; }
    .navigation-bar__lower__dropdown {
      display: grid;
      grid-template-columns: repeat(2, max-content) minmax(min-content, 8rem);
      column-gap: 1rem;
      align-items: center;
      justify-items: center;
      border-right: 0.1rem solid rgba(255, 255, 255, 0.3);
      cursor: pointer; }
      .navigation-bar__lower__dropdown-name {
        font-size: 1.4rem;
        font-weight: 500;
        color: #fff;
        opacity: 60%; }
      .navigation-bar__lower__dropdown-arrow {
        justify-self: flex-end;
        margin-right: 1.3rem; }
    .navigation-bar__lower__slider {
      font-weight: 600;
      font-size: 1.4rem;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      align-self: center;
      column-gap: 1rem; }

.lower-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem; }
  .lower-icon__dropdown-arrow {
    width: 1rem;
    height: 1rem; }

.active {
  opacity: 100%; }

.extra {
  background: linear-gradient(90deg, red 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, red 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }
  .extra:hover {
    border-bottom: 1px solid #141414;
    animation-name: rainbow-flow;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }

.icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%; }

.small-icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%; }

.user-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%; }

.page-logo {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  justify-self: flex-start; }

.nav-division {
  border: 0.01rem solid rgba(255, 255, 255, 0.1); }

.settings-icon {
  transition: all 0.4s ease; }
  .settings-icon:hover {
    transform: rotate(90deg); }

.notification-icon:hover {
  animation-name: bell-ring;
  animation-duration: 0.5s; }

@keyframes bell-ring {
  12% {
    transform: rotate(15deg); }
  25% {
    transform: rotate(-15deg); }
  37% {
    transform: rotate(15deg); }
  50% {
    transform: rotate(-15deg); }
  62% {
    transform: rotate(15deg); }
  75% {
    transform: rotate(-15deg); }
  88% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes rainbow-flow {
  10% {
    background: linear-gradient(90deg, red 0%, red 10%, #ff9a00 20%, #d0de21 30%, #4fdc4a 40%, #3fdad8 50%, #2fc9e2 60%, #1c7fee 70%, #5f15f2 80%, #ba0cf8 90%, #fb07d9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  20% {
    background: linear-gradient(90deg, #ba0cf8 0%, #fb07d9 10%, red 20%, red 30%, #ff9a00 40%, #d0de21 50%, #4fdc4a 60%, #3fdad8 70%, #2fc9e2 80%, #1c7fee 90%, #5f15f2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  30% {
    background: linear-gradient(90deg, #5f15f2 0%, #ba0cf8 10%, #fb07d9 20%, red 30%, red 40%, #ff9a00 50%, #d0de21 60%, #4fdc4a 70%, #3fdad8 80%, #2fc9e2 90%, #1c7fee 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  40% {
    background: linear-gradient(90deg, #1c7fee 0%, #5f15f2 10%, #ba0cf8 20%, #fb07d9 30%, red 40%, red 50%, #ff9a00 60%, #d0de21 70%, #4fdc4a 80%, #3fdad8 90%, #2fc9e2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  50% {
    background: linear-gradient(90deg, #2fc9e2 0%, #1c7fee 10%, #5f15f2 20%, #ba0cf8 30%, #fb07d9 40%, red 50%, red 60%, #ff9a00 70%, #d0de21 80%, #4fdc4a 90%, #3fdad8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  60% {
    background: linear-gradient(90deg, #3fdad8 0%, #2fc9e2 10%, #1c7fee 20%, #5f15f2 30%, #ba0cf8 40%, #fb07d9 50%, red 60%, red 70%, #ff9a00 80%, #d0de21 90%, #4fdc4a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  70% {
    background: linear-gradient(90deg, #4fdc4a 0%, #3fdad8 10%, #2fc9e2 20%, #1c7fee 30%, #5f15f2 40%, #ba0cf8 50%, #fb07d9 60%, red 70%, red 80%, #ff9a00 90%, #d0de21 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  80% {
    background: linear-gradient(90deg, #d0de21 0%, #4fdc4a 10%, #3fdad8 20%, #2fc9e2 30%, #1c7fee 40%, #5f15f2 50%, #ba0cf8 60%, #fb07d9 70%, red 80%, red 90%, #ff9a00 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  90% {
    background: linear-gradient(90deg, #ff9a00 0%, #d0de21 10%, #4fdc4a 20%, #3fdad8 30%, #2fc9e2 40%, #1c7fee 50%, #5f15f2 60%, #ba0cf8 70%, #fb07d9 80%, red 90%, red 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  100% {
    background: linear-gradient(90deg, red 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, red 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; } }

.card {
  width: 27.6rem;
  height: 30rem;
  background-color: #d5f6ed;
  border-radius: 2rem;
  background-color: #fff;
  border: 0.1rem solid #d7d7d7;
  display: grid; }
  .card__inner {
    height: 23rem;
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr; }
    .card__inner__date {
      display: inline-block;
      align-self: flex-start;
      justify-self: left;
      padding: 0.7rem 1rem;
      font-size: 1.2rem;
      background-color: #fff;
      border-radius: 2rem;
      text-align: center;
      color: rgba(20, 20, 20, 0.8);
      grid-column: 1 / 2; }
    .card__inner__bookmark {
      width: 3rem;
      height: 3rem;
      background-color: #fff;
      border-radius: 50%;
      grid-column: 2 / 3;
      justify-self: right;
      display: flex;
      align-items: center;
      justify-content: center; }
      .card__inner__bookmark__img {
        width: 2.5rem;
        height: 2.5rem; }
    .card__inner__employer {
      font-size: 1.1rem;
      color: rgba(20, 20, 20, 0.8);
      align-self: flex-end; }
    .card__inner__position {
      font-size: 1.8rem;
      line-height: 1.2;
      font-weight: 500;
      grid-column: 1 / 2;
      margin-bottom: 1rem; }
    .card__inner__img {
      width: 3rem;
      height: 3rem; }
    .card__inner__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.1rem;
      height: 3.1rem;
      border-radius: 50%;
      grid-column: 2 / 3;
      grid-row: 2 / 4;
      justify-self: right;
      align-self: center; }
    .card__inner__tags {
      grid-column: 1 / 3;
      align-self: flex-end; }
    .card__inner__tag {
      display: inline-block;
      align-self: center;
      margin: 0.2rem 0.1rem 0.2rem 0rem;
      padding: 0.4rem 0.9rem;
      border-radius: 2rem;
      text-align: center;
      border: 0.1rem solid rgba(20, 20, 20, 0.25);
      list-style: none;
      font-weight: 500; }
    .card__inner-1 {
      background-color: #ffe1cb; }
    .card__inner-2 {
      background-color: #d5f6ed; }
    .card__inner-3 {
      background-color: #e2dbf9; }
    .card__inner-4 {
      background-color: #e0f3ff; }
    .card__inner-5 {
      background-color: #fbe2f3; }
    .card__inner-6 {
      background-color: #eceff5; }
  .card__outer {
    display: grid;
    margin: 0 1.5rem 0.75rem 1.5rem; }
    .card__outer__salary {
      font-size: 1.3rem;
      color: #141414;
      align-self: flex-end; }
    .card__outer__location {
      font-size: 1.1rem;
      color: rgba(20, 20, 20, 0.8);
      grid-row: 2 / span 1; }

.button {
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer; }
  .button__card {
    background-color: #141414;
    color: #fff;
    border: 0.2rem solid #141414;
    font-size: 1.3rem;
    grid-row: 1 / span 2;
    grid-column: 2 / 3;
    justify-self: right;
    align-self: center;
    font-weight: 600;
    transition: all 0.2s ease; }
    .button__card:hover {
      background-color: #fff;
      color: #141414;
      border: 0.2rem solid #141414; }
